body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.btn--pink-purple {
  justify-content: center;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #ff79da 110.74%);
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  padding: 13px 16px;
  border: 0px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.btn--pink-purple:hover {
  transition: all 0.3s;
  background: linear-gradient(200.64deg, #ae80e5 -5.2%, #fface8 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.85);
}

.menu__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.menu__btn .btn--pink-purple {
  width: 186px;
}

.header__logo {
  padding-top: 14px;
  padding-bottom: 5px;
  margin-top: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  color: black;
}

.footer__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-weight: 300;
  color: white;
  margin: 0;
  font-size: 22px;
  margin-bottom: 16px;
  width: 137px;
}

#heartCheckbox {
  display: none;
}

#heart {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

#heartCheckbox:checked ~ #heart {
  margin: auto;
}

#heart i {
  font-size: 27px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.8s ease-in-out;
}

#heart i:first-child {
  z-index: 1;
}

#heart i:last-child {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #ff79da 110.74%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  opacity: 0;
}

#heartCheckbox-01:checked ~ #heart i:last-child {
  opacity: 1;
}

#heartCheckbox-02:checked ~ #heart i:last-child {
  opacity: 1;
}

#heartCheckbox-03:checked ~ #heart i:last-child {
  opacity: 1;
}

#heartCheckbox-04:checked ~ #heart i:last-child {
  opacity: 1;
}

.heart-box {
  display: none;
}

.menu__header #heart {
  width: 22px;
  height: 22px;
}
.menu__header #heart i {
  font-size: 22px;
}

.card {
  background-color: white;
  margin: 0 auto;
  border-radius: 15px;
  width: 346px;
  margin-bottom: 18px;
}
.card .card__illustration {
  margin: 0;
  position: relative;
}
.card .card__illustration .card__illustration--img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.card .card__illustration .badge {
  position: absolute;
  top: 13px;
  right: 12px;
}
.card .card__illustration .badge__text {
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}
.card .card__body {
  margin-left: 16px;
  margin-right: 25px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card__body .card__body--text {
  color: black;
  text-decoration: none;
}
.card .card__body .card__body--title {
  margin-top: 13px;
  margin-bottom: 5px;
  font-size: 18px;
}
.card .card__body .card__body--content {
  margin: 0;
}

.menu .card {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  margin-bottom: 12px;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
}
.menu .card label {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.menu .card .check {
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  height: 100%;
  width: 59px;
  position: absolute;
  top: 0px;
  right: -59px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}
.menu .card__header--title {
  margin: 0;
  font-size: 18PX;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .card__body {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
  padding-bottom: 0;
}
.menu .card__body--content, .menu .card__body--price {
  margin: 0;
}
.menu .card__body--content {
  font-weight: 300;
  font-size: 15PX;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .checker {
  display: none !important;
}
.menu .card__content {
  Width: 100%;
  transition: all 0.3s ease-in-out;
}
.menu .card:hover .card__content,
.menu .checker:checked ~ .card__content {
  width: calc(100% - 59px);
}
.menu .card:hover,
.menu .checker:checked ~ .check {
  right: 0px;
}

.starter,
.main-course,
.dessert {
  opacity: 0;
  transform: translatey(20px);
  animation: fadeIn 0.3s forwards;
}

.starter {
  animation-delay: 1s;
}

.main-course {
  animation-delay: 2s;
}

.dessert {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1280px) {
  .main-container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

.loader__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  z-index: 1;
  animation: showLoader 2s linear forwards;
}

@keyframes showLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-bottom-color: white;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 10px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.location {
  display: flex;
  background-color: #eaeaea;
  align-items: baseline;
  justify-content: center;
}
.location i {
  margin-right: 17px;
}

.banner {
  padding-top: 39px;
  padding-bottom: 57px;
  background-color: #F7F7F7;
  text-align: center;
}
@media (min-width: 1280px) {
  .banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.banner h2 {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1280px) {
  .banner h2 {
    font-size: 40px;
    margin-bottom: 2px;
    margin-top: 0;
  }
  .banner h2 br {
    display: none;
  }
}
.banner .banner__txt {
  font-weight: 300;
  width: 315px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 27px;
}
@media (min-width: 1280px) {
  .banner .banner__txt {
    width: 100%;
    margin-top: 18px;
  }
}

.functioning .main-container {
  margin-bottom: 68px;
}
@media (min-width: 1280px) {
  .functioning .main-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .functioning .main-container h2 {
    width: 1281px;
    margin-left: 0;
  }
}
.functioning .main-container .functioning__box {
  display: block;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24PX;
  border-radius: 20px;
  background-color: #f6f6f6;
}
@media (min-width: 1280px) {
  .functioning .main-container .functioning__box {
    margin-bottom: 50px;
  }
}
.functioning .main-container .functioning__box .functioning__box--number {
  border-radius: 25px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  align-items: center;
  margin-left: -13px;
  margin-right: 22px;
}
.functioning .main-container .functioning__box .functioning__box--icon {
  width: 40px;
  text-align: start;
}

h2 {
  margin-left: 20px;
  font-size: 24px;
}

.restaurant {
  background-color: #F7F7F7;
  padding-bottom: 48px;
  justify-content: center;
}
@media (min-width: 1280px) {
  .restaurant {
    padding: 0%;
  }
}
@media (min-width: 1280px) {
  .restaurant .restaurant__box {
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .restaurant .restaurant__box .restaurant__title {
    margin: 0 auto 28px 0;
  }
}
@media (min-width: 1280px) {
  .restaurant .restaurant__box .restaurant__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurant .restaurant__box .restaurant__cards .card {
  border-radius: 15px;
  width: 346px;
}
@media (min-width: 1280px) {
  .restaurant .restaurant__box .restaurant__cards .card {
    width: 490px;
    height: 251px;
    margin-bottom: 50px;
  }
}
.restaurant .restaurant__box .restaurant__cards .card .card__illustration--img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
  border-radius: 20px 20px 0 0;
}

.main-container {
  position: relative;
}

.menu .main-container {
  width: 100%;
}
@media (min-width: 1280px) {
  .menu .main-container .menu__img {
    position: relative;
    overflow: hidden;
    height: 383px;
  }
}
.menu .main-container .menu__img img {
  position: absolute;
  height: 383px;
}
@media (min-width: 1280px) {
  .menu .main-container .menu__box {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 210px;
    padding-right: 210px;
  }
}
@media (min-width: 1280px) {
  .menu .main-container .menu__box .menu__header {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu .main-container .menu__box .menu__header h1 {
    margin-right: 24px;
  }
}
.menu .menu__img {
  overflow: hidden;
  height: 275px;
}
.menu .menu__img img {
  position: relative;
  width: 100%;
  z-index: -1;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .menu__box {
  margin-top: -55px;
  background: #f6f6f6;
  padding: 10px;
  overflow: visible;
  border-radius: 40px 40px 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.menu .menu__box .menu__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 29px;
}
.menu .menu__box .header__logo {
  font-size: 28px;
  margin-top: 8px;
  font-weight: 400;
}
.menu .menu__box .menu__title {
  font-size: 16px;
  font-weight: 300;
  display: block;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 11px;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 1280px) {
  footer {
    padding-top: 40px;
    padding-bottom: 14px;
  }
}
@media (min-width: 1280px) {
  footer .main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-right: 25px;
  }
}
@media (min-width: 1280px) {
  footer .footer__col {
    display: flex;
    flex-direction: row;
  }
}
footer .footer__icon {
  width: 13px;
  height: 11px;
  margin-right: 10px;
}
footer .footer__content {
  display: inline-block;
  display: flex;
  align-items: baseline;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 7px;
}
@media (min-width: 1280px) {
  footer .footer__content {
    width: 130px;
    margin-left: 7px;
  }
}
footer .footer__content .footer__content--text {
  margin: 0;
}
@media (min-width: 1280px) {
  footer .footer__content--icon {
    width: 190px;
  }
}

body {
  margin: 0px;
}

header .main-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-container a :first-child {
  font-size: 30px;
  color: black;
  margin-left: 10px;
}
header .main-container a h1 {
  text-align: center;
  flex: 1;
}/*# sourceMappingURL=style.css.map */