.location {
    display: flex;
    background-color: #eaeaea;
    align-items: baseline;
    justify-content: center;

    i {
        margin-right: 17px;

    }
}

.banner {
    padding-top: 39px;
    padding-bottom: 57px;
    background-color: #F7F7F7;
    text-align: center;


    .banner__txt {
        font-weight: 300;
        width: 315px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}

.functioning {



    .functioning__box {
        display: block;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        width: 322px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24PX;
        border-radius: 20px;
        background-color: #f6f6f6;

        .functioning__box--number {
            border-radius: 25px;
            height: 24px;
            width: 24px;
            background-color: $primary-color;
            color: white;
            text-align: center;
            align-items: center;
            margin-left: -13px;
            margin-right: 22px;

        }

        .functioning__box--icon {
            width: 40px;
            text-align: start;
        }
    }
}

h2 {
    margin-left: 20px;
    font-size: 24px;
}

.restaurant {
    background-color: #F7F7F7;

    .restaurant__card {
        border-radius: 15px;
        width: 346px;


        .restaurant__card--img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 174px;
            object-fit: cover;
            object-position: center 60%;
            border-radius: 20px 20px 0 0;
        }
    }

    .card {
        background-color: white;
        margin: 0 auto;
        border-radius: 15px;
        width: 346px;
        margin-bottom: 18px;

        .card__illustration {
            margin: 0;

            .card__illustration--img {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;

                height: 174px;
                object-fit: cover;
                object-position: center 60%;
                border-radius: 20px 20px 0 0;

            }
        }

        .card__body {
            margin-left: 16px;
            margin-right: 25px;
            padding-bottom: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card__body--title {
                margin-top: 13px;
                margin-bottom: 5px;
                font-size: 18px;
            }

            .card__body--content {
                margin: 0;
            }

            .card__body--icon {
                align-items: right;
                justify-content: center;
                font-size: 21px;
            }

        }

        .card__content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 13px;

            .card__body--title {
                font-size: 18px;
            }

            .card__content--heart {}
        }
    }
}