.main-container {
    position: relative;
}

.menu {
    .main-container {
        width: 100%;



        .menu__img {
            @media (min-width: 1280px) {
                position: relative;
                overflow: hidden;
                height: 383px;

            }

            img {
                position: absolute;
                height: 383px;
            }
        }


        .menu__box {
            @media (min-width: 1280px) {
                width: 1055px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 210px;
                padding-right: 210px;





            }

            .menu__header {
                @media (min-width: 1280px) {
                    display: block;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    h1 {
                        margin-right: 24px;
                    }
                }


            }
        }
    }

    .menu__img {
        overflow: hidden;
        height: 275px;


        img {
            position: relative;
            width: 100%;
            z-index: -1;
            height: 275px;
            object-fit: cover;
        }
    }


    .menu__box {
        margin-top: -55px;
        background: #f6f6f6;
        padding: 10px;
        overflow: visible;
        border-radius: 40px 40px 0 0;
        box-sizing: border-box;
        z-index: 1;

        .menu__header {

            align-items: baseline;
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
            padding-right: 29px;

        }

        .header__logo {
            font-size: 28px;
            margin-top: 8px;
            font-weight: 400;
        }


        .menu__title {
            font-size: 16px;
            font-weight: 300;
            display: block;
            width: 40px;
            border-bottom: 3px solid #99E2D0;
            padding-bottom: 11px;
        }
    }
}