.card {
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    width: 346px;
    margin-bottom: 18px;



    .card__illustration {
        margin: 0;

        .card__illustration--img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;

            height: 174px;
            object-fit: cover;
            object-position: center 60%;
            border-radius: 20px 20px 0 0;

        }
    }

    .card__body {
        margin-left: 16px;
        margin-right: 25px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card__body--text {
            color: black;
            text-decoration: none;
        }

        .card__body--title {
            margin-top: 13px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .card__body--content {
            margin: 0;
        }
    }
}

.menu {
    .card {
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        background-color: white;
        padding: 15px;
        margin-bottom: 12px;
        font-size: 18px;
        box-sizing: border-box;
        width: 100%;

        & label {
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
        }

        .check {
            font-size: 20;
            color: white;
            background-color: #99E2D0;
            height: 100%;
            width: 59px;
            position: absolute;
            top: 0px;
            right: -59px;
            transition: all .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            overflow: hidden;
        }

        &__header--title {
            margin: 0;
            font-size: 18PX;

        }


        &__body {
            display: inline-block;
            display: flex;
            justify-content: space-between;
            margin: 5px 0px 0px 0px;
            padding-bottom: 0;

            &--content,
            &--price {
                margin: 0;
            }

            &--content {

                font-weight: 300;
                font-size: 15PX;
            }
        }
    }

    .checker {
        display: none !important;
    }

    .card:hover .card__content,
    #checker:checked~.card__content {
        width: calc(100% - 59px);
    }

    .card:hover .check,
    #checker:checked~.check {
        right: 0px;
    }
}