#heartCheckbox {
    display: none;

}

#heart {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}


#heartCheckbox:checked~#heart {
    margin: auto;
}

#heart i {
    font-size: 27px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease-in-out;
}


#heart i:first-child {
    z-index: 1;
}

#heart i:last-child {
    background: linear-gradient(200.64deg, $primary-color -5.2%, $secondary-color 110.74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    opacity: 0;

}


#heartCheckbox-01:checked~#heart i:last-child {
    opacity: 1;
}


#heartCheckbox-02:checked~#heart i:last-child {
    opacity: 1;
}



#heartCheckbox-03:checked~#heart i:last-child {
    opacity: 1;
}



#heartCheckbox-04:checked~#heart i:last-child {
    opacity: 1;
}

.heart-box {
    display: none;
}


.menu__header {
    #heart {
        width: 22px;
        height: 22px;
    }

    #heart i {
        font-size: 22px;
    }
}