footer {
    background-color: $footer-color;
    padding: 22px 25px;

    .main-container {
        @media (min-width: 1280px) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .footer__content {
        @media (min-width: 1280px) {
            display: flex;
            width: 700px;


        }
    }


    a {
        display: inline-block;
        width: 100%;

        @media (min-width: 1280px) {
            display: inline;
        }



    }

    .footer__content--icon {
        display: inline-block;
        display: flex;
        align-items: baseline;
    }

    .footer__icon {
        width: 13px;
        height: 11px;
        margin-right: 10px;
    }

    .footer__content--text {
        margin: 0;
        color: white;
        font-family: $main-font;
        font-weight: 500;
        margin-top: 7px;


    }
}