header .main-container a {
    display: flex;
    align-items: center;
    justify-content: center;


    :first-child {
        font-size: 30px;
        color: black;
        margin-left: 10px;
    }

    h1 {
        text-align: center;
        flex: 1;

    }
}